* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    display: inline-block;
    list-style: none;
    margin: 0 1.25rem;
}
ul li:last-child {
    margin-right: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
    background-color: #3286FC;
    color: white;
    padding: 1.23rem;
    position: sticky;
    top: 0;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: none;
}
.btn {
    padding: 8px 12px;
    border-radius: 15px;
}
.btn-white {
    background-color: white;
    color: #3286FC;
}

     /* prima sezione */

#intro,
#strategy-planning,
#testimonials {
    padding: 2.5rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.card {
    flex-basis: 100%;
    background-color: #baddff;
    padding: 1.5rem;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 2rem;
}
#intro .card:first-child{
    text-align: left;
    padding-bottom: 0;
}
#intro .card:first-child i{
   font-size: 1rem;
   color: white;
}

.card h3 {
    color: #3286FC;
}
.card p {
    color: #5c6e80;
    line-height: 140%;
    margin: 1.25rem 0;

}
.card img {
    margin-top: 1.25rem;
}
.btn-blue {
    background-color: #3286FC;
    color: white;
    margin: 1.25rem;
}
#intro img {
    width: 80%;
    display: block;
}
.card i {
    font-size: 3rem;
    color: #3286FC;
    margin-bottom: 1.5rem;
}

        /* seconda sezione */

.container-100 {
    max-width: 1000px;
    margin: 0 auto;
}
#strategy-planning {
    background-color: #9692e3;
    color: white;
}

#strategy-planning img {
    width: 100%;
}

#strategy-planning col {
    padding: 2rem;
}

#strategy-planning h {
    margin-bottom: 1.5rem;
}

.card-white {
    background-color: white;
    border-radius: 15px;
    color: black;
    text-align: center;
}

.btn-rounded {
    background-color: #9692e3;
    color: black;
    border-radius: 100%;
    display: inline-block;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
}
      /* terza sezione */
#testimonials .testimonial img {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    aspect-ratio: 1;
} 
#testimonials .testimonial {
    background-color: #9692e3;
    color: white;
    padding: 1.25rem;
    border-radius: 15px;
    margin-bottom: 1.5rem;
}

#testimonials {
    text-align: center;
}    

#testimonials h2 {
    margin-bottom: 1.25rem;
}    
   
#testimonials p {
    margin-bottom: 1.5rem;
} 

#testimonials .testimonial p::before {
    content: "\f10d";
    font-weight: 900;
} 

#testimonials .testimonial p::after {
    content: "\f10d";
    font-weight: 900;
} 
  
      /* quarta sezione */

.card-2 {
    flex-basis: 100%;
    background-color: #baddff;
    padding: 1.5rem;
    border-radius: 15px;
    
    margin-bottom: 2rem;
}
.btn-blue-2 {
    background-color: #3286FC;
    color: white;
    padding: 3px;
    border-radius: 20px;
    
}
.intro h2 {
    text-align: center;
    

}
.card-2 h2 {
    text-align: left;
    color: #3286FC;
}
.container {
    padding: 2rem;
}
.card-2 h3 {
    color: #3286FC;
}
.intro {
    background-color: #3286FC;
}
         

          /* media-query */

         /* tablet */

@media only screen and (min-width: 768px){
           /* prima sezione */
    #intro img {
        width: 50%;
        display: block;
    }
    #intro>div {
      justify-content: space-between;
    }
     .card {
            flex-basis: calc(100% / 3 - 2%);
            /* background-color: #baddff;
            padding: 1.5rem;
            border-radius: 15px;
            text-align: center;
            margin-bottom: 2rem; */
        }
    #intro .card:first-child {
        flex-basis: calc(66.66% - 1%);
    }

           /* terza sezione */
    #testimonials .testimonial {
        display: flex;
        align-items: center;
    } 
    #testimonials .testimonial img {
        margin-right: 1.5rem;
    }     
    
           /* quarta sezione */
    .card-2 {
        flex-basis: calc(100% / 2 - 1%);
    }  
    .container {
        padding: 2.5rem;
    } 

   

}

          /* desktop */

@media only screen and (min-width: 992px){
    header nav ul {
        display: inline-block;
    }
    header nav .fa-bars{
        display: none;
    }

        /* prima sezione */
    #intro .card:first-child {
    display: flex;
    }

           /* seconda sezione */
    #strategy-planning .col {
    flex-basis: 50%;    
    }
    #strategy-planning .card-white {
        align-self: flex-end;
    }
    #strategy-planning .card-white img {
    width: 50%;
    }
          /* quarta sezione */
    
    .card-2 {
        flex-basis: calc(100% / 3);
    }
    .container {     
    padding: 2.5rem; 
    }
}


